<IfModule mod_rewrite.c>
  RewriteEngine On

  # 1. Ignorar a pasta /api (deixar passar para o Backend)
  RewriteRule ^api(/.*)?$ - [L]

  # 2. Configuração SPA (React Router)
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
